.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 768px) {
    .productList {
        flex-wrap: unset;
        overflow-x: auto;
        margin: 0 -12px 20px -12px;
        padding: 0 12px;
    }
}
